name: Publish

on:
  push:
    tags:
      - 'v*'

jobs:
  call-publish:
    uses: Corsinvest/.github/.github/workflows/cv4pve-cli-publish.yml@main
    with:
      project-name: cv4pve-pepper
      project-path: src/Corsinvest.ProxmoxVE.Pepper/Corsinvest.ProxmoxVE.Pepper.csproj
